<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Url Shortener{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="shortcut icon" href="/#/favicon.ico">
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer class="text-center text-lg-start bg-light text-muted">
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                <a class="text-reset fw-bold" href="/api/doc">API Docs</a>
            </div>
        </footer>
    </body>

    {% block javascripts %}
        <script src="https://kit.fontawesome.com/423634b8dc.js" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
